.verify-code {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &__info {
    width: 30%;
  }
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: $font-weight-p;
    font-size: $font-size-z;
    color: $color-black-900;
  }
  &__container-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vh;
    p {
      font-size: $font-size-y;
      font-weight: 500;
      opacity: 0.5;
      text-align: center;
    }
  }
  &__input-number {
    width: 100%;
    height: 45px;
    font-weight: $font-weight-a;
    font-size: $font-size-z;
    color: $color-gray-400;
    border: 1px solid $color-gray-400 !important;
    border-radius: 5px;
    margin-top: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      text-align: center;
      letter-spacing: 2vh;
    }
  }

  @media (max-width: $break-point-mobile) {
    &__info {
      width: 80%;
    }
  }
}
