.card-publication {
  font-family: $font-poppins;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  background-color: $color-slate-50;
  border: 1px solid $color-gray-400;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 20px;
  &--selected {
    border: 1px solid rgb(24, 106, 60);
    background-color: #f6fdf3;
  }
  &__checkbox {
    width: 3vh;
    height: 3vh;
    border-radius: 0.5vh;
    cursor: pointer;
    background-color: $color-blue-50;
    border: 1px solid $color-green-600;
    display: flex;
    align-items: center;
    justify-content: center;
    .anticon-check {
      font-size: 2vh;
      color: white;
    }
    &--check {
      background-color: $color-green-600;
    }
  }
  &__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--group {
      justify-content: flex-end;
      gap: 15px;
    }
  }
  &__container-start {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
  }
  &__results {
    display: flex;
    justify-content: space-between;
  }
  &__start {
    border: none;
    color: $color-yellow-500 !important;
    background-color: $color-slate-50;
    font-size: $font-size-m;
    cursor: pointer;
  }
  &__website {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
  }
  &__container-button {
    display: flex;
    justify-content: space-between;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-green-600 !important;
    color: $color-green-600 !important;
    border-radius: 8px;
    margin-right: 15px;
    padding: 0px 5px;
    height: 25px !important;
    font-size: 12px;
    strong {
      font-weight: bold;
    }
  }
  &__button-sitie {
    font-size: medium;
    font-weight: bold;
    color: $color-blue-800 !important;
    text-decoration-line: underline !important;
    padding: 0px;
    height: auto !important;
  }
  h1 {
    color: $color-black-800;
    font-weight: $font-weight-p;
    font-size: $font-size-y;
    line-height: $font-size-e;
    text-align: justify;
    padding-bottom: 6px;
  }
  h2 {
    font-weight: $font-weight-s;
    font-size: $font-size-a;
    line-height: $font-size-a;
  }
  p {
    color: $color-black-800;
    opacity: 0.4;
    font-weight: $font-weight-s;
    font-size: 12px;
    line-height: $font-size-x;
    text-align: justify;
  }
  &__detail {
    h3 {
      color: $color-black-800;
      font-size: 12px;
      line-height: $font-size-a;
    }
    strong {
      opacity: 1;
      font-weight: bold;
      color: $color-green-600;
    }
  }
  .anticon-usergroup-add {
    font-size: 2vh;
    margin: 5px;
  }
}
