//colors
$color-blue-800: #1D4ED8;
$color-blue-50: #F9FBFF;
$color-black-900: #000000;
$color-slate-50: #FAFAFA;
$color-gray-400: #9CA3AF;
$color-black-800: #000000;
$color-gray-500: #6B7280;
$color-red-500: #EF4444;
$color-green-600: #059669;
$color-green-500: #34D399;
$color-green-400: #4ADE80;
$color-gray-50: #E5E5E5;

