//fonts
$font-poppins: 'Poppins', sans-serif;

$font-weight-p: 700;
$font-weight-s: 400; 
$font-weight-a: 300;

$font-size-y: 14px;
$font-size-x: 16px;
$font-size-a: 18px;
$font-size-e: 20px;
$font-size-p: 22px;
$font-size-m: 24px;
$font-size-z: 26px;
$font-size-s: 40px;