/* Size Devices*/
$break-point-small-mobile: 576px;
$break-point-mobile: 800px;
$break-point-tablet: 1025px;
$break-point-fullscreen: 1441px;
$break-point-big-screen: 1800px;
$break-point-web: 1200px;