.input-custom {
  height: 40px;
  font-weight: $font-weight-a;
  font-size: $font-size-x;
  color: $color-black-800;
  border: 1px solid $color-gray-400 !important;
  border-radius: 5px;
  margin-top: 6px;
}
