.profile {
  width: 100%;
  font-family: $font-poppins;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__info {
    width: 30%;
  }
  &__titlep {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: $font-weight-p;
    font-size: $font-size-z;
    color: $color-black-900 !important;
    margin-bottom: 18px;
  }
  &__title {
    font-weight: $font-weight-p;
    color: $color-black-800 !important;
    &--s {
      font-size: $font-size-x;
      color: $color-red-500 !important;
    }
  }
  &__input {
    border-radius: 5px;
    border: 1px solid $color-gray-400;
  }
  &__button {
    border-radius: 5px;
    margin-top: 14px;
  }
}
