.custom-button {
  height: 40px;
  border-radius: 5px;
  font-weight: bold;
  font-size: $font-size-x;
  background-color: $color-blue-800 !important;
  color: white !important;
  border: none;
  &:disabled {
    opacity: 0.4;
  }
}
