.change-password {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  &__container-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vh;
    p {
      font-size: $font-size-y;
      font-weight: 500;
      opacity: 0.5;
      text-align: center;
    }
  }
  
  &__info {
    width: 30%;
  }
  &__image {
    width: 100%;
    height: 25vh;
    object-fit: contain;
  }
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: $font-weight-p;
    font-size: $font-size-z;
    color: $color-black-900;
  }
  &__input {
    height: 40px;
    font-weight: $font-weight-a;
    font-size: $font-size-x;
    color: $color-black-800;
    border: 1px solid $color-gray-400 !important;
    border-radius: 5px;
    margin-top: 6px;
  }
  &__label {
    font-size: $font-size-p;
    font-weight: $font-weight-p;
    color: $color-black-800;
    strong {
      color: $color-red-500;
    }
  }
  &__footer {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--row {
      flex-direction: row;
      margin-top: 20px;
      padding: 0px;
      font-weight: $font-weight-a;
      justify-content: center;
    }
  }
  &__link {
    font-weight: $font-weight-p;
    font-size: $font-size-y;
    color: $color-blue-800 !important;
    padding: 5px;
    span {
      text-decoration-line: underline !important;
    }
  }
  @media (max-width: $break-point-mobile) {
    &__info {
      width: 80%;
    }
  }
}
