.input-search {
  display: grid;
  grid-template-columns: 82% 15%;
  justify-content: space-between;
  height: 40px;
  &__button {
    width: 100%;
    border: none;
    font-size: $font-size-m;
    color: $color-gray-50 !important;
    height: 100%;
    background-color: $color-blue-800!important;
    border-radius: 5px;
    &:hover {
      opacity: 0.8;
    }
    &:disabled {
      opacity: 0.4;
    }
  }
  &__input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid $color-gray-400 !important;
    box-shadow: none;
    height: 100%;
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    height: 100%;
  }
  input {
    height: 100%!important;
    font-size: $font-size-x;
  }
  .ant-select-selection-placeholder {
    display: flex;
    align-items: center;
  }
}