.sidebar {
  font-family: $font-poppins;
  &__title {
    display: grid;
    margin-bottom: 60px;
    padding: 2px;
    border: 2px solid $color-gray-50;
    border-radius: 10px;
  }
  &__options {
    display: grid;
    grid-template-columns: minmax(0px, 60px) 1fr;
    cursor: pointer;
  } 
  &__menu {
    display: grid;
    gap: 20px;
  }
  &__img {
    width: fit-content;
    height: 40px;
    margin: 10px;
  }
  &__info {
    margin-left: 28px;
  }
  &__close {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }
  &__button {
    font-weight: $font-weight-p;
    color: $color-blue-800 !important;
    text-decoration-line: underline;
  }
  h2 {
    font-weight: $font-weight-p;
    font-size: $font-size-x;
    margin-bottom: 0px;
  }
  p {
    font-weight: $font-weight-a;
    margin: 0px;
  }
}