.search {
  display: grid;
  grid-template-columns: 20% 80%;
  font-family: $font-poppins;
  padding: 10px;
  &--hide-filters { 
    grid-template-columns: 5% 95%;
  }
  &__alert {
    font-size: 1.8vh;
    padding-top: 1vh;
    opacity: 0.6;
    strong {
      font-weight: bold;
    }
  }
  &__filter {
    border-right: 1px solid $color-gray-400;
    padding: 15px;
    &--hide {
      border-right: none;
    }
  }
  &__container-download {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0px;
    h3 {
      font-size: 14px;
      font-weight: bold;
      margin-right: 20px;
      padding-left: 5px;
      text-decoration: underline;
    }
    .ant-btn {
      border: 1px solid $color-green-600!important;
      border-radius: 50px;
      font-weight: bold;
      color: $color-green-600!important;
      &:disabled {
        opacity: 0.2;
      }
    }
  }
  &__container-count {
    display: flex;
    align-items: center;
    h3 {
      font-size: 14px ;
      margin-right: 1vh;
    }
  }
  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px;
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__results {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px;
    h1 {
      font-weight: $font-weight-p;
      font-size: $font-size-e;
      color: $color-black-900 !important;
      margin: 0px;
      padding-top: 10px;
    }
    &--button {
      font-weight: $font-weight-p;
      font-size: $font-size-x;
      color: $color-blue-800 !important;
      border-bottom: 1px solid $color-gray-400 !important;
      padding-top: 5px;
    }
  }
  &__feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4vh 0px;
    img {
      width: 40vh;
      height: 40vh;
    }
    span {
      font-weight: 300;
      font-size: $font-size-e; 
      line-height: $font-size-z;
      color: $color-black-800;
      opacity: 0.6;
      text-align: center;
      strong {
        font-weight: 700;
      }
    }
  }
  &__loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4vh 0px;
    .anticon {
      font-size: 4vh;
      color: $color-green-600;
    }
    span {
      color: $color-black-800;
      opacity: 0.8;
    }
  }
  @media (max-width: $break-point-mobile) {
    grid-template-columns: 1fr;
    padding: 0px;
    &__container {
      padding: 0px 16px;
    }
    &__filter {
      padding: 0px 16px;
    }
  }
}