.search {
  display: grid;
  grid-template-columns: 20% 80%;
  font-family: $font-poppins;
  padding: 10px;
  &--hide-filters { 
    grid-template-columns: 5% 95%;
  }
  &__filter {
    border-right: 1px solid $color-gray-400;
    padding: 15px;
    &--hide {
      border-right: none;
    }
  }
  &__container {
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 24px;
    padding: 24px;
  }
  &__results {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-weight: $font-weight-p;
      font-size: $font-size-p;
      color: $color-black-900 !important;
      margin: 0px;
      padding-top: 10px;
    }
    &--button {
      font-weight: $font-weight-p;
      font-size: $font-size-x;
      color: $color-blue-800 !important;
      border-bottom: 1px solid $color-gray-400 !important;
      padding-top: 5px;
    }
  }
}