.header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: $color-blue-800;
  font-family: $font-poppins;
  &__container-title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__information {
    width: 100%;
    display: flex;
    align-items: center;
    &--group {
      margin: 10px;
      justify-content: flex-end;
      gap: 15px;
    }
    h1 {
      color: $color-slate-50;
      font-weight:  bold;
      font-size: $font-size-m;
      margin: 10px;
      cursor: pointer;
    }
    h2 {
      color: $color-slate-50;
      font-weight: $font-weight-s;
      margin-top: 5px;
      cursor: pointer;
    }
    img {
      width: 3vh;
      height: 3vh;
      object-fit: contain;
      border: 1px solid rgb(103, 103, 103);
      border-radius: 5px;
    }
  }
  &__btn-menu {
    background: none !important;
    border: none !important;
    color: $color-slate-50 !important;
    font-size: $font-size-e;
    padding: 0px;
  }
}