.signup {
  width: 100%;
  font-family: $font-poppins;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &__info {
    width: 60vh;
  }
  &__title {
    display: flex;
    justify-content: center;
    font-size: $font-size-s;
    font-weight: $font-weight-p;
    color: $color-black-900;
  }
  &__description {
    font-size: $font-size-x;
    font-weight: 300;
    color: $color-black-800;
    text-align: center;
  }
  &__label {
    font-size: $font-size-p;
    font-weight: $font-weight-p;
    color: $color-black-800;
    strong {
      color: $color-red-500;
    }
  }
  .text {
    font-weight: 400;
    color: $color-gray-500;
    padding-top: -1vh;
  }
  &__input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid $color-gray-400 !important;
    .ant-input-number-input-wrap,
    input {
      height: 100% !important;
    }
  }
  &__footer {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--row {
      flex-direction: row;
      margin-top: 20px;
      padding: 0px;
      font-weight: $font-weight-a;
      justify-content: center;
    }
  }
  &__link {
    font-weight: $font-weight-p;
    font-size: $font-size-y;
    color: $color-blue-800 !important;
    padding: 5px;
    span {
      text-decoration-line: underline !important;
    }
  }
  &__options {
    height: 40px;
    border: 1px solid $color-gray-400 !important;
    border-radius: 5px;
    margin-top: 4px;
    .ant-select-selector {
      height: 100% !important;
    }
  }
  .ant-form-item {
    margin-top: 0px;
    margin-bottom: 10px;
  }
  @media (max-width: $break-point-mobile) {
    &__info {
      width: 80%;
    }
  }
}
