.signup {
  width: 100%;
  font-family: $font-poppins;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__info {
    width: 30%;
  }
  h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: $font-weight-p;
    color: $color-black-900;
    margin: 0px;
  }
  h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: $font-weight-a;
    font-size: $font-size-x;
    color: $color-black-800;
  }
  &__title {
    font-weight: $font-weight-p;
    font-size: $font-size-p;
    color: $color-black-800 !important;
    &--s {
      font-size: $font-size-x;
      color: $color-red-500 !important;
    }
  }
  &__button {
    border-radius: 5px;
    margin-top: 14px;
  }
  &__footer {
    font-weight: $font-weight-a;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    &--button {
      font-weight: $font-weight-p;
      font-size: $font-size-y;
      text-decoration-line: underline !important;
      color: $color-blue-800 !important;
      padding: 5px;
    }
  }
  .ant-input-affix-wrapper {
    border-radius: 5px;
    width: 100%;
    border: none;
  }
  .ant-input-password {
    border-radius: 5px;
    border: 1px solid $color-gray-400 !important;
  }
  .ant-input {
    border-radius: 5px;
    border: 1px solid $color-gray-400 !important;
  }
}
